<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>添加数据</h1>
<form method="post" action="/action_add_data">
    <input type="text" name="id" placeholder="名称">
    <input type="text" name="airline" placeholder="航空公司">
    <input type="text" name="date" placeholder="日期">
    <input type="text" name="flight_plan_number" placeholder="计划航班">
    <input type="text" name="flight_execution_number" placeholder="执行航班">
    <input type="text" name="flight_cancellation_number" placeholder="取消航班">
    <input type="text" name="cancellation_rate" placeholder="取消率">


    <input type="submit" value="提交">
</form>
</body>
</html>