<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class = "container">
    <h1>用户列表</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户姓名</th>
            <th>密码</th>
        </tr>
        </thead>
        <tbody>
        {% for item in user_list %}
            <tr>
                <td>{{ item.id}}</td>
                <td>{{ item.username}}</td>
                <td>{{ item.password}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>