<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>Dashboard Tables, Free Admin Template</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="../static/css/templatemo_main.css">


</head>


<body>
<div id="main-wrapper">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <div class="logo"><h1>航班运行数据共享可视化平台</h1></div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</div>

<div class="template-page-wrapper">
    <div class="navbar-collapse collapse templatemo-sidebar">
        <ul class="templatemo-sidebar-menu">
            <li>
                <form class="navbar-form">
                    <input type="text" class="form-control" id="templatemo_search_box" placeholder="Search...">
                    <span class="btn btn-primary btn-sm">搜索</span>
                </form>
            </li>
            <li><a href="/index"><i class="fa fa-home"></i>主页</a></li>

            <li><a href="/data-visualization"><i class="fa fa-cubes"></i>航班预测结果</a>
            <li><a href="/通信"><i class="fa fa-cubes"></i>航班延误传播趋势</a>
            <li><a href="/tables"><i class="fa fa-users"></i>安全隐私上链用户</a></li>
            <li><a href="/preferences"><i class="fa fa-cog"></i>个人设置</a></li>
            <li><a href="/" data-toggle="modal" data-target="#confirmModal"><i
                    class="fa fa-sign-out"></i>登出</a></li>
        </ul>
    </div><!--/.navbar-collapse -->



    <div class="templatemo-content-wrapper">
        <div class="templatemo-content">
            <ol class="breadcrumb">
                <li><a href="/index" style="text-decoration:none">主页</a></li>
                <li><a href="/data-visualization" style="text-decoration:none">航班预测结果</a></li>
                <li><a href="/通信" style="text-decoration:none">机场延误波及趋势</a></li>
                <li class="active">安全隐私上链用户</li>
                <li><a href="/preferences" style="text-decoration:none">个人设置</a></li>
                <li><a href="/" style="text-decoration:none">登录界面</a></li>
            </ol>
            <h1>用户数据管理</h1>


            <div class="row margin-bottom-30">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li><a href="#">民航局 <span class="badge">1</span></a></li>
                        <li class="active"><a href="#">航空公司 <span class="badge">63</span></a></li>
                        <li><a href="#">机场 <span class="badge">245</span></a></li>
                        <li><a href="#">空中交通管理局 <span class="badge">7</span></a></li>
                        <li><a href="#">地面保障单位 <span class="badge">245</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right" id="templatemo_sort_btn">
                        <button type="button" class="btn btn-default">筛选</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">名称</a></li>
                            <li><a href="#">日期</a></li>
                        </ul>
                    </div>
                    <div class="table-responsive">
                        <h4 class="margin-bottom-15">航班计划数据</h4>
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>航司名称</th>
                                <th>日期</th>
                                <th>计划航班</th>
                                <th>执行航班</th>
                                <th>取消航班</th>
                                <th>取消率</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>
                                <td id="index">序号</td>
                                <td id="air_company">航司名称</td>
                                <td id ="air_time" >日期</td>
                                <td id = "air_plan">计划航班</th>
                                <td id ="air_execution">执行航班</td>
                                <td id ="air_cancellation">取消航班</td>
                                <td id ="air_rate">取消率</td>

                                <td>
                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info">编辑</button>
                                    <button type="button" class="btn btn-info dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/action_modify_data" onclick="modify();">修改</a></li>
                                        <script>
                                        function modify(){
                                            const ans = confirm("确认要修改？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("修改成功")
                                                return true
                                            }
                                            }
                                        </script>
                                       <li><a href="/action_add_data" onclick="add();">添加</a></li>
                                        <script>
                                        function add(){
                                            const ans = confirm("确认要添加？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("添加成功")
                                                return true
                                            }
                                            }
                                        </script>
                                        <li><a href="/action_delete_data" onclick="del();">删除</a></li>
                                        <script>
                                        function del(){
                                            const ans = confirm("确认要删除？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("删除成功")
                                                return true
                                            }
                                            }
                                        </script>
                                    </ul>
                                    </div>
                                    </td>
                            </tbody>

                            <tbody>
                                <td id="index21">序号</td>
                                <td id="air_company21">航司名称</td>
                                <td id ="air_time21" >日期</td>
                                <td id ="air_plan21">计划航班</td>
                                <td id ="air_execution21">执行航班</td>
                                <td id ="air_cancellation21">取消航班</td>
                                <td id ="air_rate21">取消率</td>

                                <td>
                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info">编辑</button>
                                    <button type="button" class="btn btn-info dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/action_modify_data" onclick="modify();">修改</a></li>
                                        <script>
                                        function modify(){
                                            const ans = confirm("确认要修改？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("修改成功")
                                                return true
                                            }
                                            }
                                        </script>
                                       <li><a href="/action_add_data" onclick="add();">添加</a></li>
                                        <script>
                                        function add(){
                                            const ans = confirm("确认要添加？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("添加成功")
                                                return true
                                            }
                                            }
                                        </script>
                                        <li><a href="/action_delete_data" onclick="del();">删除</a></li>
                                        <script>
                                        function del(){
                                            const ans = confirm("确认要删除？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("删除成功")
                                                return true
                                            }
                                            }
                                        </script>
                                    </ul>
                                    </div>
                                </td>
                            </tbody>

                            <tbody>
                                <td id="index22">序号</td>
                                <td id="air_company22">航司名称</td>
                                <td id ="air_time22" >日期</td>
                                <td id ="air_plan22">计划航班</td>
                                <td id ="air_execution22">执行航班</td>
                                <td id ="air_cancellation22">取消航班</td>
                                <td id ="air_rate22">取消率</td>

                                <td>
                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info">编辑</button>
                                    <button type="button" class="btn btn-info dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/action_modify_data" onclick="modify();">修改</a></li>
                                        <script>
                                        function modify(){
                                            const ans = confirm("确认要修改？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("修改成功")
                                                return true
                                            }
                                            }
                                        </script>
                                       <li><a href="/action_add_data" onclick="add();">添加</a></li>
                                        <script>
                                        function add(){
                                            const ans = confirm("确认要添加？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("添加成功")
                                                return true
                                            }
                                            }
                                        </script>
                                        <li><a href="/action_delete_data" onclick="del();">删除</a></li>
                                        <script>
                                        function del(){
                                            const ans = confirm("确认要删除？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("删除成功")
                                                return true
                                            }
                                            }
                                        </script>
                                    </ul>
                                    </div>
                                </td>
                            </tbody>

                            <tbody>
                                <td id="index23">序号</td>
                                <td id="air_company23">航司名称</td>
                                <td id ="air_time23" >日期</td>
                                <td id ="air_plan23">计划航班</td>
                                <td id ="air_execution23">执行航班</td>
                                <td id ="air_cancellation23">取消航班</td>
                                <td id ="air_rate23">取消率</td>

                                <td>
                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info">编辑</button>
                                    <button type="button" class="btn btn-info dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/action_modify_data" onclick="modify();">修改</a></li>
                                        <script>
                                        function modify(){
                                            const ans = confirm("确认要修改？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("修改成功")
                                                return true
                                            }
                                            }
                                        </script>
                                       <li><a href="/action_add_data" onclick="add();">添加</a></li>
                                        <script>
                                        function add(){
                                            const ans = confirm("确认要添加？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("添加成功")
                                                return true
                                            }
                                            }
                                        </script>
                                        <li><a href="/action_delete_data" onclick="del();">删除</a></li>
                                        <script>
                                        function del(){
                                            const ans = confirm("确认要删除？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("删除成功")
                                                return true
                                            }
                                            }
                                        </script>
                                    </ul>
                                    </div>
                                </td>
                            </tbody>

                            <tbody>
                                <td id="index24">序号</td>
                                <td id="air_company24">航司名称</td>
                                <td id ="air_time24" >日期</td>
                                <td id ="air_plan24">计划航班</td>
                                <td id ="air_execution24">执行航班</td>
                                <td id ="air_cancellation24">取消航班</td>
                                <td id ="air_rate24">取消率</td>

                                <td>
                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info">编辑</button>
                                    <button type="button" class="btn btn-info dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/action_modify_data" onclick="modify();">修改</a></li>
                                        <script>
                                        function modify(){
                                            const ans = confirm("确认要修改？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("修改成功")
                                                return true
                                            }
                                            }
                                        </script>
                                       <li><a href="/action_add_data" onclick="add();">添加</a></li>
                                        <script>
                                        function add(){
                                            const ans = confirm("确认要添加？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("添加成功")
                                                return true
                                            }
                                            }
                                        </script>
                                        <li><a href="/action_delete_data" onclick="del();">删除</a></li>
                                        <script>
                                        function del(){
                                            const ans = confirm("确认要删除？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("删除成功")
                                                return true
                                            }
                                            }
                                        </script>
                                    </ul>
                                    </div>
                                </td>
                            </tbody>

                            <tbody>
                                <td id="index25">序号</td>
                                <td id="air_company25">航司名称</td>
                                <td id ="air_time25" >日期</td>
                                <td id ="air_plan25">计划航班</td>
                                <td id ="air_execution25">执行航班</td>
                                <td id ="air_cancellation25">取消航班</td>
                                <td id ="air_rate25">取消率</td>

                                <td>
                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info">编辑</button>
                                    <button type="button" class="btn btn-info dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/action_modify_data" onclick="modify();">修改</a></li>
                                        <script>
                                        function modify(){
                                            const ans = confirm("确认要修改？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("修改成功")
                                                return true
                                            }
                                            }
                                        </script>
                                       <li><a href="/action_add_data" onclick="add();">添加</a></li>
                                        <script>
                                        function add(){
                                            const ans = confirm("确认要添加？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("添加成功")
                                                return true
                                            }
                                            }
                                        </script>
                                        <li><a href="/action_delete_data" onclick="del();">删除</a></li>
                                        <script>
                                        function del(){
                                            const ans = confirm("确认要删除？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("删除成功")
                                                return true
                                            }
                                            }
                                        </script>
                                    </ul>
                                    </div>
                                </td>
                            </tbody>

                            <tbody>
                                <td id="index26">序号</td>
                                <td id="air_company26">航司名称</td>
                                <td id ="air_time26" >日期</td>
                                <td id ="air_plan26">计划航班</td>
                                <td id ="air_execution26">执行航班</td>
                                <td id ="air_cancellation26">取消航班</td>
                                <td id ="air_rate26">取消率</td>

                                <td>
                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info">编辑</button>
                                    <button type="button" class="btn btn-info dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/action_modify_data" onclick="modify();">修改</a></li>
                                        <script>
                                        function modify(){
                                            const ans = confirm("确认要修改？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("修改成功")
                                                return true
                                            }
                                            }
                                        </script>
                                       <li><a href="/action_add_data" onclick="add();">添加</a></li>
                                        <script>
                                        function add(){
                                            const ans = confirm("确认要添加？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("添加成功")
                                                return true
                                            }
                                            }
                                        </script>
                                        <li><a href="/action_delete_data" onclick="del();">删除</a></li>
                                        <script>
                                        function del(){
                                            const ans = confirm("确认要删除？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("删除成功")
                                                return true
                                            }
                                            }
                                        </script>
                                    </ul>
                                    </div>
                                </td>
                            </tbody>

                            <tbody>
                                <td id="index27">序号</td>
                                <td id="air_company27">航司名称</td>
                                <td id ="air_time27" >日期</td>
                                <td id ="air_plan27">计划航班</td>
                                <td id ="air_execution27">执行航班</td>
                                <td id ="air_cancellation27">取消航班</td>
                                <td id ="air_rate27">取消率</td>

                                <td>
                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info">编辑</button>
                                    <button type="button" class="btn btn-info dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/action_modify_data" onclick="modify();">修改</a></li>
                                        <script>
                                        function modify(){
                                            const ans = confirm("确认要修改？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("修改成功")
                                                return true
                                            }
                                            }
                                        </script>
                                       <li><a href="/action_add_data" onclick="add();">添加</a></li>
                                        <script>
                                        function add(){
                                            const ans = confirm("确认要添加？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("添加成功")
                                                return true
                                            }
                                            }
                                        </script>
                                        <li><a href="/action_delete_data" onclick="del();">删除</a></li>
                                        <script>
                                        function del(){
                                            const ans = confirm("确认要删除？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("删除成功")
                                                return true
                                            }
                                            }
                                        </script>
                                    </ul>
                                    </div>
                                </td>
                            </tbody>

                            <tbody>
                                <td id="index28">序号</td>
                                <td id="air_company28">航司名称</td>
                                <td id ="air_time28" >日期</td>
                                <td id ="air_plan28">计划航班</td>
                                <td id ="air_execution28">执行航班</td>
                                <td id ="air_cancellation28">取消航班</td>
                                <td id ="air_rate28">取消率</td>

                                <td>
                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info">编辑</button>
                                    <button type="button" class="btn btn-info dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/action_modify_data" onclick="modify();">修改</a></li>
                                        <script>
                                        function modify(){
                                            const ans = confirm("确认要修改？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("修改成功")
                                                return true
                                            }
                                            }
                                        </script>
                                       <li><a href="/action_add_data" onclick="add();">添加</a></li>
                                        <script>
                                        function add(){
                                            const ans = confirm("确认要添加？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("添加成功")
                                                return true
                                            }
                                            }
                                        </script>
                                        <li><a href="/action_delete_data" onclick="del();">删除</a></li>
                                        <script>
                                        function del(){
                                            const ans = confirm("确认要删除？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("删除成功")
                                                return true
                                            }
                                            }
                                        </script>
                                    </ul>
                                    </div>
                                </td>
                            </tbody>

                            <tbody>
                                <td id="index29">序号</td>
                                <td id="air_company29">航司名称</td>
                                <td id ="air_time29" >日期</td>
                                <td id ="air_plan29">计划航班</td>
                                <td id ="air_execution29">执行航班</td>
                                <td id ="air_cancellation29">取消航班</td>
                                <td id ="air_rate29">取消率</td>

                                <td>
                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info">编辑</button>
                                    <button type="button" class="btn btn-info dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/action_modify_data" onclick="modify();">修改</a></li>
                                        <script>
                                        function modify(){
                                            const ans = confirm("确认要修改？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("修改成功")
                                                return true
                                            }
                                            }
                                        </script>
                                       <li><a href="/action_add_data" onclick="add();">添加</a></li>
                                        <script>
                                        function add(){
                                            const ans = confirm("确认要添加？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("添加成功")
                                                return true
                                            }
                                            }
                                        </script>
                                        <li><a href="/action_delete_data" onclick="del();">删除</a></li>
                                        <script>
                                        function del(){
                                            const ans = confirm("确认要删除？");
                                            if (ans===false) {
                                                event.preventDefault(); //取消默认应答
                                               return false;
                                            }else{
                                                alert("删除成功")
                                                return true
                                            }
                                            }
                                        </script>
                                    </ul>
                                    </div>
                                </td>
                            </tbody>

                        </table>

                        <div id="container"></div>

                    </div>
                    <ul class="pagination pull-right">
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li><a href="/tables">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/tables2">2 <span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="/tables3">3 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/tables4">4 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/tables5">5 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">确定要退出吗?</h4>
                </div>
                <div class="modal-footer">
                    <a href="/" class="btn btn-primary">是的</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">不，我再想想</button>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/templatemo_script.js"></script>

<script>
      // 创建WebSocket连接
    const socket = new WebSocket("ws://localhost:8769");

    // 处理WebSocket消息
    socket.onmessage = function (event) {
    // 将收到的数据显示在页面上
    const all_information = JSON.parse(event.data);
    console.log(all_information);
    var index_ = document.getElementById("index");
    index_.innerText = all_information.id[20];
    var air_company_ = document.getElementById("air_company");
    air_company_.innerText = all_information.airline[20];
    var air_time_ = document.getElementById("air_time");
    air_time_.innerText = all_information.date[20];
    var air_plan_ = document.getElementById("air_plan");
    air_plan_.innerText = all_information.flight_plan_number[20];
    var air_execution_ = document.getElementById("air_execution");
    air_execution_.innerText = all_information.flight_execution_number[20];
    var air_cancellation_ = document.getElementById("air_cancellation");
    air_cancellation_.innerText = all_information.flight_cancellation_number[20];
    var air_rate_ = document.getElementById("air_rate");
    air_rate_.innerText = all_information.cancellation_rate[20];

    var index21_ = document.getElementById("index21");
    index21_.innerText = all_information.id[21];
    var air_company21_ = document.getElementById("air_company21");
    air_company21_.innerText = all_information.airline[21];
    var air_time21_ = document.getElementById("air_time21");
    air_time21_.innerText = all_information.date[21];
    var air_plan21_ = document.getElementById("air_plan21");
    air_plan21_.innerText = all_information.flight_plan_number[21];
    var air_execution21_ = document.getElementById("air_execution21");
    air_execution21_.innerText = all_information.flight_execution_number[21];
    var air_cancellation21_ = document.getElementById("air_cancellation21");
    air_cancellation21_.innerText = all_information.flight_cancellation_number[21];
    var air_rate21_ = document.getElementById("air_rate21");
    air_rate21_.innerText = all_information.cancellation_rate[21];

    var index22_ = document.getElementById("index22");
    index22_.innerText = all_information.id[22];
    var air_company22_ = document.getElementById("air_company22");
    air_company22_.innerText = all_information.airline[22];
    var air_time22_ = document.getElementById("air_time22");
    air_time22_.innerText = all_information.date[22];
    var air_plan22_ = document.getElementById("air_plan22");
    air_plan22_.innerText = all_information.flight_plan_number[22];
    var air_execution22_ = document.getElementById("air_execution22");
    air_execution22_.innerText = all_information.flight_execution_number[22];
    var air_cancellation22_ = document.getElementById("air_cancellation22");
    air_cancellation22_.innerText = all_information.flight_cancellation_number[22];
    var air_rate22_ = document.getElementById("air_rate22");
    air_rate22_.innerText = all_information.cancellation_rate[22];

    var index23_ = document.getElementById("index23");
    index23_.innerText = all_information.id[23];
    var air_company23_ = document.getElementById("air_company23");
    air_company23_.innerText = all_information.airline[23];
    var air_time23_ = document.getElementById("air_time23");
    air_time23_.innerText = all_information.date[23];
    var air_plan23_ = document.getElementById("air_plan23");
    air_plan23_.innerText = all_information.flight_plan_number[23];
    var air_execution23_ = document.getElementById("air_execution23");
    air_execution23_.innerText = all_information.flight_execution_number[23];
    var air_cancellation23_ = document.getElementById("air_cancellation23");
    air_cancellation23_.innerText = all_information.flight_cancellation_number[23];
    var air_rate23_ = document.getElementById("air_rate23");
    air_rate23_.innerText = all_information.cancellation_rate[23];


    var index24_ = document.getElementById("index24");
    index24_.innerText = all_information.id[24];
    var air_company24_ = document.getElementById("air_company24");
    air_company24_.innerText = all_information.airline[24];
    var air_time24_ = document.getElementById("air_time24");
    air_time24_.innerText = all_information.date[24];
    var air_plan24_ = document.getElementById("air_plan24");
    air_plan24_.innerText = all_information.flight_plan_number[24];
    var air_execution24_ = document.getElementById("air_execution24");
    air_execution24_.innerText = all_information.flight_execution_number[24];
    var air_cancellation24_ = document.getElementById("air_cancellation24");
    air_cancellation24_.innerText = all_information.flight_cancellation_number[24];
    var air_rate24_ = document.getElementById("air_rate24");
    air_rate24_.innerText = all_information.cancellation_rate[24];

    var index25_ = document.getElementById("index25");
    index25_.innerText = all_information.id[25];
    var air_company25_ = document.getElementById("air_company25");
    air_company25_.innerText = all_information.airline[25];
    var air_time25_ = document.getElementById("air_time25");
    air_time25_.innerText = all_information.date[25];
    var air_plan25_ = document.getElementById("air_plan25");
    air_plan25_.innerText = all_information.flight_plan_number[25];
    var air_execution25_ = document.getElementById("air_execution25");
    air_execution25_.innerText = all_information.flight_execution_number[25];
    var air_cancellation25_ = document.getElementById("air_cancellation25");
    air_cancellation25_.innerText = all_information.flight_cancellation_number[25];
    var air_rate25_ = document.getElementById("air_rate25");
    air_rate25_.innerText = all_information.cancellation_rate[25];


    var index26_ = document.getElementById("index26");
    index26_.innerText = all_information.id[26];
    var air_company26_ = document.getElementById("air_company26");
    air_company26_.innerText = all_information.airline[26];
    var air_time26_ = document.getElementById("air_time26");
    air_time26_.innerText = all_information.date[26];
    var air_plan26_ = document.getElementById("air_plan26");
    air_plan26_.innerText = all_information.flight_plan_number[26];
    var air_execution26_ = document.getElementById("air_execution26");
    air_execution26_.innerText = all_information.flight_execution_number[26];
    var air_cancellation26_ = document.getElementById("air_cancellation26");
    air_cancellation26_.innerText = all_information.flight_cancellation_number[26];
    var air_rate26_ = document.getElementById("air_rate26");
    air_rate26_.innerText = all_information.cancellation_rate[26];

    var index27_ = document.getElementById("index27");
    index27_.innerText = all_information.id[27];
    var air_company27_ = document.getElementById("air_company27");
    air_company27_.innerText = all_information.airline[27];
    var air_time27_ = document.getElementById("air_time27");
    air_time27_.innerText = all_information.date[27];
    var air_plan27_ = document.getElementById("air_plan27");
    air_plan27_.innerText = all_information.flight_plan_number[27];
    var air_execution27_ = document.getElementById("air_execution27");
    air_execution27_.innerText = all_information.flight_execution_number[27];
    var air_cancellation27_ = document.getElementById("air_cancellation27");
    air_cancellation27_.innerText = all_information.flight_cancellation_number[27];
    var air_rate27_ = document.getElementById("air_rate27");
    air_rate27_.innerText = all_information.cancellation_rate[27];

    var index28_ = document.getElementById("index28");
    index28_.innerText = all_information.id[28];
    var air_company28_ = document.getElementById("air_company28");
    air_company28_.innerText = all_information.airline[28];
    var air_time28_ = document.getElementById("air_time28");
    air_time28_.innerText = all_information.date[28];
    var air_plan28_ = document.getElementById("air_plan28");
    air_plan28_.innerText = all_information.flight_plan_number[28];
    var air_execution28_ = document.getElementById("air_execution28");
    air_execution28_.innerText = all_information.flight_execution_number[28];
    var air_cancellation28_ = document.getElementById("air_cancellation28");
    air_cancellation28_.innerText = all_information.flight_cancellation_number[28];
    var air_rate28_ = document.getElementById("air_rate28");
    air_rate28_.innerText = all_information.cancellation_rate[28];


    var index29_ = document.getElementById("index29");
    index29_.innerText = all_information.id[29];
    var air_company29_ = document.getElementById("air_company29");
    air_company29_.innerText = all_information.airline[29];
    var air_time29_ = document.getElementById("air_time29");
    air_time29_.innerText = all_information.date[29];
    var air_plan29_ = document.getElementById("air_plan29");
    air_plan29_.innerText = all_information.flight_plan_number[29];
    var air_execution29_ = document.getElementById("air_execution29");
    air_execution29_.innerText = all_information.flight_execution_number[29];
    var air_cancellation29_ = document.getElementById("air_cancellation29");
    air_cancellation29_.innerText = all_information.flight_cancellation_number[29];
    var air_rate29_ = document.getElementById("air_rate29");
    air_rate29_.innerText = all_information.cancellation_rate[29];



    }




</script>


</body>
</html>